name: Build Binary image with GraalVM

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'graalvm'
          cache: maven

      - name: mvn version

        run: |
          mvn -version

      - name: Build with Maven
        run: mvn clean package -DskipTests -Pmqtt-server-graal

      - name: Test running binary (Optional)
        run: ./target/mica-mqtt-server-native